html * {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body 
{
  font-size: 100%;
  font-family: "ralewayregular";
  font-size: 14px;
  font-color:black;
  background-color: #E2E2E2;
}

a {
    color: inherit;
}

a:hover {
    text-decoration:none;
    box-shadow:none;
}

img 
{
  max-width: 100%;
}

h1 {
  font-family: "ralewaybold";
}

h2, h3 {
  font-family: "ralewaysemibold";
}

div {
	position: relative;
}

html, body
{
    height: 100%;
}

/*********************************
* override bootstrap
*********************************/

.nav>li>a:focus,
.nav>li>a:hover { 
    background-color: #45565c;
}

.tooltip {
    color: white;
}

.tooltip .tooltip-inner {
    background-color: #334045;
    font-size: 16px;
    font-family: "ralewayregular";
}

.tooltip .tooltip-arrow {
    border-top-color: #334045 !important;
}

/**********************************
*   general
***********************************/

.content {
    padding: 20px;
    background-color: #FAFCFB;
}

.section-header {
    height: 65px;
    width: 100%;
}
.section-title {
    font-family: 'ralewaymedium';
    font-size: 24px;
    color: #334045;
    padding-left: 10px;
    padding-top: 7px;
    float: left
}

.section-icon {
    width: 45px;
    float: left;
}

.section-text {
    text-align: justify;
    font-size: 16px;
    line-height: 26px;
}

.section-text .highlight {
    width: 90px;
    display: inline-block;
    color: #67818a;
}

/**********************************
*	intro
***********************************/
#intro {
	height: 600px;
	background: url("../img/bg.jpg") no-repeat bottom center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

#intro .overlay {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	opacity: 0.4;
	background-color: black;
}

#intro .profile {
    position: absolute;
    top: 200px;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 250px;
    height: 250px;
}

#intro .profile img {
    border-radius: 50%;
    border: 10px solid #334045;
}

#intro .text {
    position: absolute;
    bottom: 110px;
    width: 100%;
    text-align: center;
}

#intro .text .title {
    font-family: 'ralewaylight';
    color: white;
    font-size: 54px;
}

#intro .text .subtitle {
    color: white;
    font-size: 36px;
}


/**********************************
*	header
***********************************/
#header .nav-bar {
    text-align: center;
}

#header .nav-bar li {
    display: inline-block;
}

#header .nav-bar li a {
    padding-top: 20px;
    padding-bottom: 20px;
}

#header .nav-bar li span {
    font-family: 'ralewaylight';
    font-size: 20px;
    color: white;
}

.navbar-default {
    background-color: #334045;
    border-top: 2px solid #45565c !important;
    border-bottom: 2px solid #45565c !important;
}

.navbar {
    border-radius: 0px !important;
    border: none;
}

/**********************************
*	content
***********************************/
#content {
    padding-bottom: 20px;
}

#about_me {
    min-height: 440px;
}

#extra_info {
    height: 210px;
    margin-bottom: 20px;
}

#extra_info .section-icon img {
    margin-top: 7px;
    margin-left: 5px;
}

#hoobies {
    height: 210px;
}

#hoobies .section-icon img {
    width: 35px;
    margin-top: 5px;
    margin-left: 5px;
}

#hoobies .interess-gallery {
    height: 60px;
    width: 80%;
    margin-left: 10%;
    text-align: center;
    margin-right: 10%;
    margin-top: 5px;
}

#hoobies .interess-gallery img {
    height: 55px;
    margin-left: 7px;
    margin-right: 7px;
}

#hoobies .interess-gallery .learn {
    height: 45px;
}

#hoobies .interess-gallery .sports {
    height: 40px;
}


/**********************************
*	footer
***********************************/

/**********************************
*	FONTS
***********************************/
/* Generated by Font Squirrel (https://www.fontsquirrel.com) on April 2, 2016 */



@font-face {
    font-family: 'ralewayblack';
    src: url('../fonts/raleway-black-webfont.eot');
    src: url('../fonts/raleway-black-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/raleway-black-webfont.woff2') format('woff2'),
         url('../fonts/raleway-black-webfont.woff') format('woff'),
         url('../fonts/raleway-black-webfont.ttf') format('truetype'),
         url('../fonts/raleway-black-webfont.svg#ralewayblack') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'ralewaybold';
    src: url('../fonts/raleway-bold-webfont.eot');
    src: url('../fonts/raleway-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/raleway-bold-webfont.woff2') format('woff2'),
         url('../fonts/raleway-bold-webfont.woff') format('woff'),
         url('../fonts/raleway-bold-webfont.ttf') format('truetype'),
         url('../fonts/raleway-bold-webfont.svg#ralewaybold') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'ralewaybold_italic';
    src: url('../fonts/raleway-bolditalic-webfont.eot');
    src: url('../fonts/raleway-bolditalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/raleway-bolditalic-webfont.woff2') format('woff2'),
         url('../fonts/raleway-bolditalic-webfont.woff') format('woff'),
         url('../fonts/raleway-bolditalic-webfont.ttf') format('truetype'),
         url('../fonts/raleway-bolditalic-webfont.svg#ralewaybold_italic') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'ralewaylight';
    src: url('../fonts/raleway-light-webfont.eot');
    src: url('../fonts/raleway-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/raleway-light-webfont.woff2') format('woff2'),
         url('../fonts/raleway-light-webfont.woff') format('woff'),
         url('../fonts/raleway-light-webfont.ttf') format('truetype'),
         url('../fonts/raleway-light-webfont.svg#ralewaylight') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'ralewaymedium';
    src: url('../fonts/raleway-medium-webfont.eot');
    src: url('../fonts/raleway-medium-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/raleway-medium-webfont.woff2') format('woff2'),
         url('../fonts/raleway-medium-webfont.woff') format('woff'),
         url('../fonts/raleway-medium-webfont.ttf') format('truetype'),
         url('../fonts/raleway-medium-webfont.svg#ralewaymedium') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'ralewaymedium_italic';
    src: url('../fonts/raleway-mediumitalic-webfont.eot');
    src: url('../fonts/raleway-mediumitalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/raleway-mediumitalic-webfont.woff2') format('woff2'),
         url('../fonts/raleway-mediumitalic-webfont.woff') format('woff'),
         url('../fonts/raleway-mediumitalic-webfont.ttf') format('truetype'),
         url('../fonts/raleway-mediumitalic-webfont.svg#ralewaymedium_italic') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'ralewayregular';
    src: url('../fonts/raleway-regular-webfont.eot');
    src: url('../fonts/raleway-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/raleway-regular-webfont.woff2') format('woff2'),
         url('../fonts/raleway-regular-webfont.woff') format('woff'),
         url('../fonts/raleway-regular-webfont.ttf') format('truetype'),
         url('../fonts/raleway-regular-webfont.svg#ralewayregular') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'ralewaysemibold';
    src: url('../fonts/raleway-semibold-webfont.eot');
    src: url('../fonts/raleway-semibold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/raleway-semibold-webfont.woff2') format('woff2'),
         url('../fonts/raleway-semibold-webfont.woff') format('woff'),
         url('../fonts/raleway-semibold-webfont.ttf') format('truetype'),
         url('../fonts/raleway-semibold-webfont.svg#ralewaysemibold') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'ralewaysemibold_italic';
    src: url('../fonts/raleway-semibolditalic-webfont.eot');
    src: url('../fonts/raleway-semibolditalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/raleway-semibolditalic-webfont.woff2') format('woff2'),
         url('../fonts/raleway-semibolditalic-webfont.woff') format('woff'),
         url('../fonts/raleway-semibolditalic-webfont.ttf') format('truetype'),
         url('../fonts/raleway-semibolditalic-webfont.svg#ralewaysemibold_italic') format('svg');
    font-weight: normal;
    font-style: normal;

}