html * {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body 
{
  font-size: 100%;
  font-family: "open_sansregular";
  font-size: 14px;
  font-color:black;
  background: url('../img/bg_up02.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  overflow-x: hidden;
}

a {
    color: inherit;
}

a:hover {
    text-decoration:none;
    box-shadow:none;
}

img 
{
  max-width: 100%;
}

h1 {
  font-family: "open_sansbold";
}

h2, h3 {
  font-family: "open_sanssemibold";
}

div {
	position: relative;
}

html, body
{
    height: 100%;
}

.clear {
    clear: both;
}

/********************************
* page
*********************************/
body > .container > .row > .col-md-12 {
    -webkit-box-shadow: 0px 0px 20px 1px rgba(0,0,0,0.5);
    -moz-box-shadow: 0px 0px 20px 1px rgba(0,0,0,0.5);
    box-shadow: 0px 0px 20px 1px rgba(0,0,0,0.5);
}

@media screen and (max-width: 960px)
{
    body > .container > .row > .col-md-12 {
        width: 94%;
        margin-left: 3%;
        margin-right: 3%;
    }   
}

.section_title {
    font-size: 18px;
    color: #5690CA ;
}

.section_content {
    margin-top: 20px;
    font-family: "open_sanslight";
    color: #86B7E7 ;
    text-align: justify;
}

/********************************
* Intro
*********************************/
.intro_bg_opacity {
    background-color:rgba(255, 255, 255, 0.3);
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: fixed;
}

/*********************************
* personal_intro
**********************************/

.personal_intro {
    padding: 20px;
    background-color: white;
    margin-top: 40px;
}

.profile_pic  {
    max-width: 200px;
    padding-right: 15px;
    /*border-right: 1px solid #86B7E7 ;*/
}

@media screen and (max-width: 992px) {
    .profile_pic {
        padding-left: 25px;
    }
}

.profile_pic img {
    border: 3px solid #86B7E7;
    border-radius: 50%;
}

.basic_info {
    padding-left: 25px;
    margin-top: 20px;
}

@media screen and (max-width: 330px)
{
    .basic_info {
        margin-top: 0px !important;
    }
}

.basic_info .name {
    font-size: 16px;
    color: #5690CA; 
}

.basic_info .age,
.basic_info .role {
    font-family: 'open_sanslight';
    color: #86B7E7;
}

.basic_info .dwn-cv.hidden420 {
    margin-top: 10px;
    display: block;
}

.dwn-cv {
    background-color: #D6694B;
    border-color: #BF5F45;
}

.dwn-cv:hover {
    background-color: #BF5F45 !important;
    border-color: #BF5F45 !important; 
}

.dwn-cv.show420 {
    margin-top: 20px;
    width: 100%;
    display: none;
}

@media screen and (max-width: 420px)
{
    .basic_info .hidden420 {
        display: none !important;
    }

    .dwn-cv.show420 {
        display: block !important;
    }
}

.detailed_info {
    margin-top: 40px;
}

.about_me {
    padding-right: 25px;
    padding-left: 25px;
}

.extra_info {

}

@media screen and (max-width: 992px) {
    .extra_info {
        margin-top: 40px;
    }
}

.other_int, .contacts {
    min-height: 150px;
}

.other_int .section_content{
    text-align: center;
}

.other_int .section_content img{
    display: inline-block;
    height: 40px;
    margin-right: 10px;
}

.content_master {
    font-family: "open_sansregular";
}

.content_master.tele {
    padding-right: 15px;
}

.content_master.mail {
    padding-right: 40px;
}

.content_master.linkedin {
    color: #D6694B;
}

.content_master.linkedin:hover a{
    color: #BF5F45 !important;
}
/*********************************
* journey
**********************************/

.journey {
    padding: 20px;
    background-color: white;
    margin-top: 40px;
}

/*********************************
* abilities
**********************************/

.abilities {
    padding: 20px;
    background-color: white;
    margin-top: 40px;
}

/*********************************
* override bootstrap
*********************************/

.content_cont.container {
    max-width: 960px;
}

.nav>li>a:focus,
.nav>li>a:hover { 
    background-color: #5690CA;
}

.tooltip {
    color: white;
}

.tooltip .tooltip-inner {
    background-color: #5690CA;
    font-size: 16px;
    font-family: "open_sansregular";
}

.tooltip .tooltip-arrow {
    border-top-color: #5690CA !important;
}

/**********************************
* Fonts
**********************************/
@font-face {
    font-family: 'open_sansbold';
    src: url('../fonts/opensans-bold-webfont.woff2') format('woff2'),
         url('../fonts/opensans-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'open_sanssemibold';
    src: url('../fonts/opensans-semibold-webfont.woff2') format('woff2'),
         url('../fonts/opensans-semibold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'open_sansitalic';
    src: url('../fonts/opensans-italic-webfont.woff2') format('woff2'),
         url('../fonts/opensans-italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'open_sanslight';
    src: url('../fonts/opensans-light-webfont.woff2') format('woff2'),
         url('../fonts/opensans-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'open_sansregular';
    src: url('../fonts/opensans-regular-webfont.woff2') format('woff2'),
         url('../fonts/opensans-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}